{% extends "index.html" %}

{% block content %}

<div class="container mt-4 mb-4">
    <h3>Adicionar</h3>
    <form class="" action="submit" method="POST"> {% csrf_token %}
        <div class="form-group">
            <input type="number" name="id" value="{{veiculo.id}}" hidden="true">
            <input class="form-control form-control-sm" type="text" name="descricao_veiculo" value="{{veiculo.descricao_veiculo}}">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/veiculos/" class="btn btn-danger">Cancelar</a>
    </form>
</div>

{% endblock %}