{% extends "index.html" %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col">
            <p>
                De acordo com a Revista Auto Esporte, o número de acidentes de trânsito envolvendo
                motocicletas cresceu 14,3% no ano de 2021 em relação ao ano anterior. Conforme o Web Site G1, o
                Brasil é o 2º país do G20 em mortalidade por acidentes de trabalho. <br>
                Os dois cenários mostrados anteriormente têm em comum a possibilidade da redução dos danos
                dos acidentes pelo uso de equipamentos de segurança. <br>
                O presente projeto apresenta o sistema EquipCheck que permitirá cadastrar equipamentos de
                segurança do trabalho e equipamentos de proteção no trânsito e apresentará ao usuário um checklist que
                permitirá verificar a adequação do motorista/trabalhador às exigências legais ou aos padrões
                estabelecidos no trabalho. <br>
                Com isso, espera-se contribuir para a redução tanto dos acidentes de trabalho quanto dos
                acidentes de trânsito <br>
                Criar um programa em linguagem orientada a objetos que implemente as classes mostradas no
                diagrama abaixo, preferencialmente com uso de dados em banco de dados, e permita ao usuário
                fornecer e consultar os dados das classes. <br>
                A equipe poderá escolher a linguagem (orientada a objetos) que desejar, e uma das plataformas
                {console, janelas, web ou mobile}.
            </p>
        </div>
        <div class="text-center">
            <div>
                <h1 class="mb-4">App CheckList</h1>
            </div>
            <div>
                <img src="/static/img/checklist.png" width="45%" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}